.not-found{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.not-found-message{
    font-size: 32px;
    color: var(--color-text);
    font-family: var(--primary-font);
}