@font-face {
  font-family: "BolinGerii";
  src: url("./assets/fonts/Bolin Gerii.ttf") format("truetype"); /* renamed file */
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  --color-primary: #FECB05;
  --color-text: #FFF;
  --primary-font:"Gruppo";
  --border-gradient: linear-gradient(90deg, rgba(254, 203, 5, 0) 0%, #FECB05 50%, rgba(152, 121, 3, 0) 100%);
  --font-heading: "BolinGerii", sans-serif;
}